{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}
    Mot de passe oublié ?
{% endblock %}

{% block body %}
    <h1 class="text-center">Alors comme ça<br>on ne retrouve plus son mot de passe ?</h1>
    <p>t@t.t</p>
    {% if app.session.flashBag.has('notice') %}
        <div class="alert alert-primary" role="alert">
            {% for msg in app.session.flashBag.get('notice') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% else %}
        {% if app.session.flashBag.has('warning') %}
            <div class="alert alert-danger" role="alert">
                {% for msg in app.session.flashBag.get('warning') %}
                    {{ msg }}
                {% endfor %}
            </div>
        {% endif %}
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                {{ form_start(form) }}
                {{ form_row(form.email, {'label': 'Email de votre compte'}) }}
                {{ form_row(form.confirmEmail, {'label': 'Répetez l\'email de votre compte'}) }}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Sésame, ouvre toi !</button>
                </div>
                {{ form_end(form) }}
            </div>
            <div class="col-sm-4"></div>

        </div>
    {% endif %}
{% endblock %}

