{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}
    Réinitialisation de mot de passe
{% endblock %}

{% block body %}
    <h1 class="text-center">Allez change<br>ton mot de passe !</h1>
    {{ form_errors(form) }}
    {{ dump(form_errors(form)) }}
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            {{ form_start(form) }}
            {{ form_row(form.password, {'label': 'Nouveau mot de passe'}) }}
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Confirmer !</button>
            </div>
            {{ form_end(form) }}
        </div>
        <div class="col-sm-4"></div>
    </div>
{% endblock %}

