{% extends 'base.html.twig' %}

{% block title %}Trick index{% endblock %}

{% block body %}
    <h1>Trick index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Category</th>
            <th>Content</th>
            <th>Image</th>
            <th>Video</th>
            <th>Number of messages</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for trick in tricks %}
            <tr>
                <td>{{ trick.id }}</td>
                <td>{{ trick.name }}</td>
                <td>{{ trick.trickCategory.name }}</td>
                <td>{{ trick.content }}</td>
                <td>
                    {% if trick.image | length > 0 %}
                        {% for image in trick.image %}
                            <a href="{{ path('app_debug_image_show', {'id': image.id}) }}">{{ image.name }}</a>
                        {% endfor %}
                    {% else %}
                        <span>No image</span>
                    {% endif %}
                </td>
                <td>
                    {% if trick.video | length > 0 %}
                        {% for video in trick.video %}
                            <a href="{{ path('app_debug_video_show', {'id': video.id}) }}">{{ video.name }}</a>
                        {% endfor %}
                    {% else %}
                        <span>No video</span>
                    {% endif %}
                </td>
                <td>{{ trick.message | length }}</td>
                <td>
                    <a href="{{ path('app_debug_trick_show', {'id': trick.id}) }}">show</a>
                    <a href="{{ path('app_debug_trick_edit', {'id': trick.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_debug_trick_new') }}">Create new</a>
{% endblock %}
