{% extends 'base.html.twig' %}
{% form_theme trickForm with ['bootstrap_5_layout.html.twig', _self] %}

{% block _trick_images_list_entry_file_row %}
    {% set trick = form.parent.parent.parent.vars.form.children.image.children|length %}
    {% set currentImage = form.vars.id |split('_')[2] %}

    {% if currentImage is not empty %}
        {% set currentImage = form.vars.id |split('_')[2]|number_format %}
        {% set trick = form.parent.parent.parent.vars.value %}
        <img class="img-thumbnail" src="{{ asset('/images/tricks/'~trick.image[currentImage].name) }}">
    {% else %}
        {{ block('integer_widget') }}
    {% endif %}
{% endblock %}


{% block title %}Modifier une figure{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modifier un trick <span style="font-size: 0.5em;">Vas-y, sois pas timide !</span></h1>
        {{ form_start(trickForm) }}

        <div class="my-custom-class-for-errors">
            {{ form_errors(trickForm) }}
        </div>

        <div class="row">
            <div class="col-md-6">
                {{ form_row(trickForm.name) }}
            </div>
            <div class="col-md-6">
                {{ form_row(trickForm.trickCategory) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ form_row(trickForm.content) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(trickForm.image) }}
            </div>
            <div class="col-md-6">
                {{ form_row(trickForm.video) }}
            </div>
        </div>
        <div class="col-md-12">
            <button id="button-send-trick" type="submit" class="btn btn-success">Mettre à jour la figure !</button>
        </div>

        {{ form_end(trickForm) }}
    </div>

{% endblock %}

