{% extends 'base.html.twig' %}

{% block title %}
    {{ trick.name }}
{% endblock %}

{% block body %}
    {# HEADER #}
    <header class="tricks-header"
            style="background: url('{{ asset('images/snow.jpg') }}') no-repeat; background-size: cover;">
        <h1 class="text-center">
            {{ trick.name }}
        </h1>
        <div class="row g-2 justify-content-center">
            <div class="col-auto">
                <a href="{{ path('app_edit_trick', {slug: trick.slug}) }}" class="btn btn-dark">Modifier</a>
            </div>
            <div class="col-auto">
                <a href="#" class="btn btn-danger">Supprimer</a>
            </div>
        </div>

    </header>

    <div class="container">
        {# SECTION MEDIA #}
        <section class="row g-2 justify-content-center mt-2 mb-5">
            {% if trick.image is not empty %}
                {% for image in trick.image %}
                    <div class="col-auto">
                        <img class="img-fluid"
                             style="height: 150px;"
                             src="{{ asset('/uploads/images/tricks/'~image.filename) }}" alt="">
                    </div>
                {% endfor %}
            {% else %}
                <p>Aucune image !</p>
            {% endif %}



            {% if trick.video is not empty %}
                {% for video in trick.video %}
                    {# <p class="h5">{{ video.name }}</p> #}
                    <div class="col-auto">
                        <iframe class="embed-responsive-item"
                                src="https://www.youtube.com/embed/{{ video.url | split('=', 2)[1] }}"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>
                {% endfor %}
            {% else %}
                <p>Aucune vidéo !</p>
            {% endif %}

        </section>

        {# CONTENU TEXT #}
        <article class="mb-5">
            <p class="text-center">{{ trick.content }}</p>
        </article>

        <aside>
            <p class="text-center">
                <span class="badge bg-info fs-6">{{ trick.trickCategory.name }}</span>
                <span class="badge bg-info fs-6">Ajoutée le {{ trick.createdAt | date('d/m/Y') }}</span>
                <span class="badge bg-info fs-6">Dernière modification le 00/00/0000 à 00h00</span>
            </p>
        </aside>

        <hr style="width: 70%; margin: auto;">
        <form class="row g-2 justify-content-center mt-4 mb-3">
            <div class="col-6">
                <label for="inputMessage" class="visually-hidden">Message</label>
                <input type="text" class="form-control" id="inputMessage" placeholder="Message...">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Envoyer !</button>
            </div>
        </form>
        <hr style="width: 70%; margin: auto;">

        <section class="mt-4">
            <div class="row g-3 justify-content-center align-items-center">
                <div class="col-auto">
                    <p style="font-size: 4em;">🏂️</p>
                </div>
                <div class="col-8">
                    <p class="h5">Nom</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor impedit laborum mollitia sint!
                        Ab,
                        alias at blanditiis commodi, eius explicabo illum inventore magnam nesciunt possimus, quae quasi
                        ullam voluptates? Saepe!</p>
                </div>
            </div>
            <div class="row g-3 justify-content-center align-items-center">
                <div class="col-auto">
                    <p style="font-size: 4em;">❄️</p>
                </div>
                <div class="col-8">
                    <p class="h5">Nom</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor impedit laborum mollitia sint!
                        Ab,
                        alias at blanditiis commodi, eius explicabo illum inventore magnam nesciunt possimus, quae quasi
                        ullam voluptates? Saepe!</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-auto">
                    <a href="#" class="btn btn-dark">Charger la suite</a>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
