{% extends 'base.html.twig' %}
{% form_theme searchForm 'bootstrap_5_layout.html.twig' %}

{% block title %}
    Les Tricks
{% endblock %}

{% block body %}
    <header class="tricks-header"
            style="background: url('{{ asset('images/placeholder.jpg') }}') no-repeat; background-size: cover;">
        <h1 class="text-center">Le dico' des
            tricks<br>
            <span style="display: block; font-size: 0.5em;">Si tu ne trouve pas ton bonheur, ajoute le !</span>
        </h1>

        <div class="bg-light position-relative bottom-0">
            <a class="btn" href="#tricks-list" role="button">
                <i class="bi bi-arrow-down"></i>
            </a>
        </div>
    </header>

    <main id="tricks-list" class="container">
        <section class="pt-5 container">
            <div class="row">
                <div class="col-md-8">
                    <h2>Tous les tricks
                        <span style="font-size: 0.4em;">(soit pas timide, va jeter un œil)</span>
                    </h2>
                </div>
                <div class="col-md-4 text-end">
                    {% if app.user and app.user.isActivated == 1 %}
                        <a href="{{ path('app_add_trick') }}" class="btn btn-primary">Ajouter une figure !</a>
                    {% else %}
                        <p>Inscrit toi ou active ton compte pour ajouter de nouveaux tricks !</p>
                    {% endif %}
                </div>
            </div>
            {# Affichage des tricks ajoutées #}
            <div class="row mb-5">
                {% for trick in lastTricks %}
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="card mb-2" style="max-width: 600px;">
                            {% if trick.image is not empty %}
                                {% for image in trick.image %}
                                    {% if image.isFeatured %}
                                        <img class="img-fluid"
                                             style="object-fit: cover!important; height: 200px; border-radius: 2px 2px 0 0;"
                                             src="{{ asset('/images/tricks/'~image.name) }}" alt="Accessibility">
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <img class="img-fluid"
                                     style="object-fit: cover!important; height: 250px; border-radius: 2px 2px 0 0;"
                                     src="{{ asset('/images/tricks/trick-placeholder.jpg') }}" alt="Accessibility">
                            {% endif %}
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <h3 class="h5 card-title">{{ trick.name }}</h3>
                                        <h4 class="h6 card-subtitle mb-2 text-muted">{{ trick.trickCategory.name }}
                                            <span>
												<i class="bi bi-chat"></i>
												{{ trick.messages | length }}</span>
                                        </h4>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <a href="{{ path('app_trick', {"slug": trick.slug}) }}"
                                           class="btn btn-dark w-50">
                                            Voir
                                        </a>
                                        {% if app.user and app.user.isActivated == 1 %}
                                            <a href="{{ path('app_edit_trick', {"slug": trick.slug}) }}"
                                               class="btn btn-outline-success">
                                                <i class="bi bi-pen"></i>
                                            </a>
                                            <a href="{{ path('app_remove_trick', {"slug": trick.slug}) }}"
                                               class="btn btn-outline-danger">
                                                <i class="bi bi-trash3"></i>
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="col-12 text-center mt-4">
                    <div class="row justify-content-center">
                        {% if previous >= 0 %}
                            <div class="col-auto">
                                <a class="btn btn-dark" href="{{ path('app_tricks', { offset: previous }) }}">
                                    Precédent
                                </a>
                            </div>

                        {% endif %}
                        {% if next < lastTricks|length %}
                            <div class="col-auto">
                                <a class="btn btn-dark" href="{{ path('app_tricks', { offset: next }) }}">
                                    Suivant
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}
